{% extends "django_tabler/base.html" %}

{% block content %}
    <div class="page">
        <div class="page-single">
            <div class="container">
                <div class="row">
                    <div class="col col-login mx-auto">
                        <div class="text-center text-muted">
                            You have successfully logged out.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
